{% extends "layout.html" %}
{% block title %}Welcome To Sudoku Solver{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>{{ 'Insert your sudoku board:' if not solved else 'The Solution is:'}} </h1>
<hr>

<style>
table {
  margin:1em auto;
}
td {
  height:60px;
  width:60px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
input {
  height:60px;
  width:60px;
  border:1px solid;
  text-align:center;
}
</style>

<script type="text/javascript">
  function reply_click(clicked_id, input)
  {
      payload = {

      }
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
                id: clicked_id,
                num: input
      }));
  }
</script>
<div class="container-fluid">
    {% if solved and solved == True %}
    <div class="alert alert-success" role="alert">SOLVED</div>
    {% endif %}
    <div class="row">
        <div class="col-2">
        </div>
        <form action="/start" method="post">
            <div class="col-8">
                <table>
                    {% for i in range(9) %}
                    <tr id="{{ i+1 }}">
                        {% for j in range(9) %}
                        {% if solved %}
                        <td id="{{ i+1,j+1 }}" onkeyup="reply_click(this.id, this.children[0].value)" style="background-color:#e6ffe6">{{ cells[j][i].number }}</td>
                        {% else %}
                        <td id="{{ i+1,j+1 }}" onkeyup="reply_click(this.id, this.children[0].value)"><input id="{{ i+1,j+1 }}" placeholder="{{ i+1,j+1 }}"></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                </table>
            </div>
            <div class="col-2">
        </div>
    <div class="row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary btn-lg">Solve it!</button>
        </div>
        <div class="col-sm">
            <a class="btn btn-secondary btn-lg" href="/reset">Reset</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-success btn-lg" href="/fixed_level">Expert Level Run</a>
        </div>
    </div>
    </form>
    </div>
</div>
{% endblock %}
